.underline-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underline {
    margin-top: -20px;
    width: 20em;
}

#about-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin: 0 auto ;
    padding: 0 0 50px 0;
    height: 100%;
    border-bottom: solid 2px var(--color-decorations);
}
    

#about-content {
    grid-column: 5/10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
#about-decoration {
    grid-column: 10/12;
}

#flowers1 {
    width: 100%;
    height: auto;
}
#about-content p {
    text-align: left;
    margin-top: 20px;
}




#link-about:hover {
    text-decoration: underline;
}

#more-info {
    display: none;
    margin-top: 2em;
}

#display-less {
    text-align: left;
    color: var(--color-decorations);
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    display: none;
}

#display-less:hover {
    text-decoration: underline;

}

@media only screen and (max-width: 768px) {
    #about-content p {
        font-size: 12px;


    } 
    
    #about-content {
        grid-column: 2/10;
    }

    #about-decoration {
        grid-column: 10/12;
        margin: auto 0;
    }
      

}
    


    
