#contact {
    margin-bottom: 50px;
}

#contact-content {
    margin: 50px auto;

}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#face {
    width: 5%;
    height: auto;
    margin-top: 20px;
}
   

#cont {
    font-family: "Alkatra", system-ui;
    font-size: 2vw;
}


.size-big {
    font-size: 2vw;
}



@media only screen and (max-width: 768px) {
    #contact-info {
        grid-column: 2/10;
    }

    .size-big {
        font-size: 4vw;
    }

    #cont {
        font-size: 6vw;
    }

    #face {
        width: 10%;
    }
}


