#contact {
    border-bottom: solid 2px var(--color-decorations);
}

#contact-content {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

#contact-info {
    grid-column: 5/10;
   
    width: 100%;
}

#face {
    grid-column: 9/10;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: center;
    align-items: center;
    margin: auto 0;
}

#cont {
    font-family: "Alkatra", system-ui;
    font-size: 2em;
}


.size-big {
    font-size: 2vw;
}


@media only screen and (max-width: 768px) {
    #contact-info {
        grid-column: 2/10;
    }

    #face {
        grid-column: 10/12;
    }

    .size-big {
        font-size: 4vw;
    }


}
