* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --color-background: #f8f0ea;
    --color-decorations: #d69461;
    --color-dark: #231201;
    background-color: var(--color-background);
    color: var(--color-dark);
}

h1,h2{
    font-family: "Alkatra", system-ui;
    text-align: center;
}

h3 {
    font-family: "Alkatra", system-ui;
    color: var(--color-dark);
    text-align: left;
    font-size: 2em;

}

.subtitle {
    font-size: 3em;
    margin-top: 50px;
}

h1 {
    font-size: 2em;
}


p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn {
    background-color: var(--color-decorations);
    color: white;
    padding: 2% 4%;
    border-radius: 18px;
    margin-top: 20px;
    font-family: "Alkatra", system-ui;
    border: none;
}

.btn:hover {
    color: var(--color-dark);
    transform: scale(1.1);
}

#link {
    text-align: left;
    color: var(--color-decorations);
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

#link:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 10px 0;
}

#linkedin-link {
    margin-right: 30px;
}

.footer-link {
    position: absolute;
    width: 100%;
    text-align: center;
}


    
  
