* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f8f0ea;
    --color-decorations: #d69461;
    --color-dark: #231201;
    color: var(--color-dark);
}

h1,h2 {
    font-family: "Alkatra", system-ui;
}

h1 {
    font-size: 2em;
}
      
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
    
  
